<% if @cocktail.picture.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_tag @cocktail.picture.key %>')">
    <%= @cocktail.name %>
  </div>
<% else %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1559443922-3f698a0ff27a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1269&q=80')">
    <%= @cocktail.name %>
  </div>
<% end %>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-6">
      <div class="card-product">

        <div class="card-product-infos">
          <% if @cocktail.doses == [] %>
            <p>This cocktail's too dry. Add some ingredients!</p>
          <% else %>
            <h2>Ingredients</h2>
          <% end %>
          <% @cocktail.doses.each do |dose| %>
            <p><strong><%= Ingredient.find(dose.ingredient_id).name %></strong> - <%= dose.description %> <%= link_to 'Remove', dose_path(dose), method: :delete %> </p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-4 px-4 ">
      <%= render "doses/form" %>
    </div>

  </div>
</div>
